@media screen and (max-width: 2080px) {
  #imePrezime {
    left: 15%;
  }
  #ikonica {
    right: 10%;
  }
  #desno {
    float: right;
    font-size: 20pt;
    margin-top: 15%;
    margin-right: 0;
  }
}

@media screen and (max-width: 1700px) {
  header {
    font-size: 15pt;
  }
  header nav {
    width: 80%;
  }
  header #logo {
    font-size: 20pt;
  }
  #imePrezime h1 {
    font-size: 18pt;
  }
  #imePrezime p {
    font-size: 14pt;
  }
  #skills {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .skills1 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  #kontakt {
    width: 600px;
  }
}

@media screen and (max-width: 1350px) {
  #kontakt {
    width: 500px;
  }
}

@media screen and (max-width: 1200px) {
  #imePrezime {
    float: none;
    margin: 0 auto;
    position: static;
    padding: 100px 0;
  }
  #imePrezime h1 {
    font-size: 20pt;
  }
  #imePrezime p {
    font-size: 15pt;
  }
  #imePrezime h1, #imePrezime p {
    text-align: center;
  }
  #ikonica {
    display: none;
  }
  .service1slika {
    display: none;
  }
  .service1text {
    margin: 0% auto;
    width: 100%;
    font-size: 15pt;
    padding-top: 0%;
    text-align: justify;
  }
  .service1text span {
    display: block;
    font-size: 18pt;
    text-align: center;
    padding-bottom: 8px;
  }
  #projects {
    display: block;
  }
  .projects1 {
    margin: 50px auto;
    width: 80%;
  }
  #levo, #desno {
    float: none;
  }
  #desno {
    text-align: center;
    margin-top: 20px;
  }
  #kontakt {
    width: 90%;
  }
  footer {
    font-size: 15pt;
  }
}

@media screen and (max-width: 769px) {
  header #logo, header nav {
    float: none;
  }
  header nav {
    margin: 0 auto;
    font-size: 12pt;
    width: 100%;
  }
  #pozadina {
    height: 450px;
  }
  #imePrezime {
    width: 300px;
    padding: 50px 0;
  }
  #imePrezime h1 {
    font-size: 14pt;
  }
  #imePrezime p {
    font-size: 10pt;
  }
  .skills1 {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .skills1 figure p {
    font-size: 12pt;
  }
  #projects p {
    font-size: 15pt;
  }
  #contact p {
    font-size: 15pt;
  }
  footer {
    font-size: 12pt;
  }
  footer #footerflex div {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 426px) {
  header {
    position: static;
  }
  header ul {
    display: block;
  }
  header ul li {
    border-top: solid #fff 1px;
    padding: 8px 0;
  }
  #kontaktMeni {
    border-bottom: solid #fff 1px;
  }
  #imePrezime {
    width: 200px;
    padding: 50px 0;
  }
  #imePrezime h1 {
    font-size: 13pt;
  }
  #imePrezime h2 {
    font-size: 9pt;
  }
  #pozadina {
    height: 350px;
  }
  .skills1 {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .service1text {
    font-size: 9pt;
  }
  .service1text span {
    font-size: 12pt;
  }
  #projects p {
    font-size: 12pt;
  }
  #kontakt {
    font-size: 12pt;
  }
  #kontakt input, #kontakt textarea {
    font-size: 12pt;
  }
}
/*# sourceMappingURL=responsive.css.map */